{% extends "main/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="container">
                <div class="card p-4 py-4" id="profile">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Login</h5>
                            <hr>
                            <p class="card-text">Please type in your email and password to login</p>
                            <br>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-primary" type="submit" value="Log in">
                            </form>
                        </div>
                        <br>
                        <small>Don't have an account? <a href="{% url 'main:register' %}">Sign up here</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
